@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --brand-primary: #0ea5e9; }

html, body { height: 100%; }
body { color: #0f172a; background: #ffffff; }
a { text-decoration: none; }

